#miparrafo{color:rgb(17, 0, 255); font-family: verdana;}
li > a{color:black !important}
.boton {background-color: rgb(157, 236, 253);cursor: pointer;}

li > a{color:yellow}

.boton:hover{background-color: chocolate;}

.navbar-custom {
    background-color: #6b737b3b; 
  }

/* Estilos para el contenedor de la imagen */
.imagen-container {
    margin-bottom: 20px; /* Espacio debajo de la imagen */
  }
  
  /* Contenedor para los primeros 3 botones */
  .botones-principales {
    display: flex; /* Colocar los botones en una fila */
    gap: 10px; /* Espacio entre los botones */
    margin-bottom: 10px; /* Espacio debajo de los botones principales */
  }
  
  /* Contenedor para el botón de resetear */
  .boton-resetear {
    margin-top: 10px; /* Espacio arriba del botón de resetear */
  }

  .boton:hover {
    background-color: #0056b3; /* Cambiar color al pasar el mouse */
  }
  
  /* Estilos específicos para el botón de resetear */
  .boton.resetear {
    background-color: #c45a64; /* Color de fondo rojo */
  }
  
  .boton.resetear:hover {
    background-color: #5c121a; /* Cambiar color al pasar el mouse */
  }